@import "tailwindcss";

@theme {
  /* 구글 웹 폰트 변수 */
  --font-noto: "Noto Sans KR", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-dongle: "Dongle", sans-serif;
  --font-hanna: "Black Han Sans", sans-serif;

  /* oklch 기반 컬러 코드 변수 */
  --theme-bg: 0.9 0.01 260;
  --theme-text: 0.1 0 0;
  --point-color: 0.7 0.16 240;
  --color-black: oklch(0.1 0 0);
}

/* 위의 변수를 활용한 배경, 텍스트 유틸리티 클래스 */
@utility theme-bg {
  background-color: oklch(var(--theme-bg));
}
@utility theme-text {
  color: oklch(var(--theme-text));
}

/* 커스텀 스크롤 적용을 위한 유틸리티 클래스 */
@utility custom-scroll {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: oklch(var(--point-color) / 0.8);
  }
}
